@mixin frontdesk-view {
    .FrontdeskView {
        margin: 0;
        padding: 0;
    }
    .FrontdeskView_toolbar  {
        background-color: rgb(63,81,181);//谷歌蓝色
        height:56px ;
        width:100%;
        box-shadow: 2px 4px 6px grey;
    }
    .my-img-button {
      cursor: pointer;
    }
    .my-formLayout{
        background-color: rgb(224,224,224);
        box-shadow: 2px 4px 6px grey;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .my-thumbnailGrid {
        background-color: white;//rgb(224,224,224);
        box-shadow: 2px 4px 6px grey;
    }
}
