@mixin dashboard-admin-view {
   	.searchpane {
        background-color: rgb(63,81,181);//谷歌蓝色
        height:56px !important;
        width:100%;
        white-space: 20px;
//        position: fixed;
//        @include animation(animate-in-scale-up 500ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
    }
    
    .adminmainview-item {
        margin: 5px;
    }
    
    .SearchToolBar_menu {
        cursor: pointer;
    }
    
    .SearchToolBar_settings {
        cursor: text;
        position: relative;
        color:white;
        font-weight: bold;
        font-family: Microsoft YaHei;
        text-shadow: 0 0 12px black;
    }
    
    .SearchToolBar_keywordField{
        cursor: text;
        background-color:transparent;
        border-color: transparent;
        border-width: 0px;
        border-style: none;
        border: none;
        box-shadow: none;
        width: 618px;
        height:40px;
        caret-color:white;
        font-size: 15px;
        font-weight: bold;
        color: rgb(63,81,181);//谷歌蓝色
         -webkit-input-placeholder: white;
         -moz-placeholder: white;
    }
    
    .SearchToolBar_outerField{
        cursor: text;
        justify-content: center;
        background-color: rgb(63,81,181);//谷歌蓝色
        height:40px;
        width:680px;
        border-radius: 2px;
        margin-left: -8px;
        margin-top: 8px;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }
    .SearchToolBar_outerField .v-icon {
        cursor: pointer;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .v-horizontallayout .v-slot-SearchToolBar_close {
        margin-top: 5px;
    }
    .v-horizontallayout .v-slot-SearchToolBar_close .v-image{
        cursor: pointer;
        vertical-align: middle;
    }
    .SearchToolBar_outerField .v-textfield {
        padding: 0;
    }
    .SearchToolBar_outerField .v-textfield:focus{
        border-color: transparent;
        webkit-box-shadow: none;
        box-shadow: none;
    }
     /* do not group these rules */
    *::-webkit-input-placeholder {
        color: #BECAE4;
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: #BECAE4;
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: #BECAE4;
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: #BECAE4;
    }
    .v-menubar-menuitem:hover {
        outline: none;
    }
    
    .admin-menu-window-labelh1 {
	  color:gray;
      font-weight: bold;
      font-family: Microsoft YaHei;
      margin-left: 24px;
      margin-top: 16px;
      height:35px;
    }
    
    
    
    .adminmenuwindow{
        border-radius: 0px;
        width: 255px;
        height: 100%;
        border-color: transparent;
        background-color: transparent;
        border-right-color: transparent;
//        @include animation(valo-animate-in-slide-right 300ms 10ms backwards);
//        @include animation(valo-animate-in-slide-right 500ms 10ms backwards);
//        @include animation(valo-animate-out-fade 500ms 10ms backwards, animate-in-scale-up 300ms 10ms backwards);
    }
    
    
   
    
    

    
    .createMenuItem {
        height: 65px;
        color: #898989;
        font-size: 13px;
        font-weight: bold;
        font-family: Microsoft YaHei;
        cursor: pointer;
        white-space: 20px;
        margin-left: 24px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
 
    .detail-setting-text {
        width: 630px;
        font-size: 12px;
        font-weight: normal;
        font-family: Microsoft YaHei;
    }
 
    .detail-hlayout {
        cursor: pointer;
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
        padding-top: 1px;
        padding-right: 15px;
        padding-bottom: 1px;
        padding-left: 15px;
    }
    .myhr {
        width: 677px;
        margin-top: -20px;
        padding: 0px;
    }
     
    
 
    
    
    
   
   
 
    
    
    .grid-title {
        color:#9D9D9D;
        font-weight: bold;
        font-size: 13px;
        cursor:text;
    }
    
    .manage-bussiness-types .v-label {
        color:#666666;
        font-size: 12px;
        font-weight: normal;
        font-family: Microsoft YaHei;
        margin-left: 20px;
    }
    .manage-bussiness-types .v-textfield {
        font-size: 12px;
        caret-color: #898989;
        margin-left: 5px;
        padding: 0;
    }
    
    .grid-header-line {
        cursor:text;
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        min-height: 50px !important;
//        line-height: 0px;
    }
    
    .grid-body-without-border {
        background-color: white;
        border-color: transparent;
        webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .grid-body-without-border .v-label {
        font-size: 13px;
        color: black;
    }
    
    .grid-body-without-border .v-checkbox {
        font-size: 13px;
        color: black;
    }
    
    .grid-body-without-border .v-image {
        cursor:pointer;
    }
    
    .grid-button-without-border {
        border-radius: 0px;
        border-color: transparent;
        webkit-box-shadow: none;
        box-shadow: none;
        background-color: white;
        font-weight: bold;
        font-size: 14px;
        font-family: Microsoft YaHei;
        color: #9D9D9D;
        outline: none;
    }
    
   
    .edit-window {
        
    }
    .edit-window .v-textfield {
        webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        font-family: Microsoft YaHei;
        color: #666666;
        border-radius: 0px;
        border-color: transparent;
        border-bottom-color : #666666;
        padding: 0px;
    } 
    
    .edit-window .v-window-header {
        font-weight: bold;
        font-size: 13px;
        color: #666666;
        font-family: Microsoft YaHei;
    }
    
    .edit-window .v-verticallayout {
        padding: 20px;
        padding-top: 0px;
//        padding-bottom: 0px;
    }
    
    .edit-window .v-button {
        border-radius: 0px;
        border-color: transparent;
        webkit-box-shadow: none;
        box-shadow: none;
        background-color: white;
        font-weight: bold;
        font-size: 14px;
        font-family: Microsoft YaHei;
        color: #9D9D9D;
        outline: none;
    }    
    
  
    .setting-text {
        font-size: 12px;
        font-weight: bold;
        font-family: Microsoft YaHei;
        height: 30px;
    }
    
    .setting-layout-shadow{
        background-color: white;
//        @include box-shadow(0 2px 7px 1px rgba(0,0,0,.5));
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    
    }
    /// In ManageAdmin.java
    .image-cursor {
        cursor:pointer;
    }
     
    /// SetPermissionsToRoleWindow
     // 拖拽上传
   
    
    .mycombobox {
        outline: none;
        webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        color: #666666;
        border-radius: 0px;
        border-color: transparent;
        border-bottom-color : #666666;
        padding: 0px;
        margin-top: -3px;
    }
    
    
    .csslayout-overflow {
        overflow: visible;
    }
    
    //文件盒空状态
    .fileboxcomponent-background0 .v-button-wrap {
        background: #A4A4A2;
    }
    //文件盒有空状态
    .fileboxcomponent-background1 .v-button-wrap {
        background: #00C800;
    }
    // 文件盒已满
    .fileboxcomponent-background2 .v-button-wrap {
        background: #C80000;
    }
    
    .SearchToolBar{
        background-color:white;// rgb(63,81,181);//谷歌蓝色
    }
    
    .NavigationBar{
        border-radius: 0px;
        border-color: transparent;
        border: none;
    }
    
    .NavigationBar_moveIn {
        width: 255px;
        height: 100%;
        background-color: white;
//        white-space: 20px;
        @include animation(valo-animate-in-slide-right 200ms 10ms backwards);
//        @include animation(valo-animate-in-slide-right 200ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
//       @include animation(animate-in-scale-up 500ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
//        @include animation(valo-animate-in-slide-left 700ms 700ms backwards);
    }
    
    .NavigationBar_moveOut {
        width: 255px;
        height: 100%;
        background-color: white;
//        white-space: 20px;
//        @include animation(valo-animate-out-fade 2500ms 500ms forwards);
        @include animation(valo-animate-in-slide-left 200ms 10ms backwards);
//        @include animation(valo-animate-in-slide-right 200ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
//       @include animation(animate-in-scale-up 500ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
//        @include animation(valo-animate-in-slide-left 700ms 700ms backwards);
    }
    
    .Screen{
        background-color:rgba(0,0,0,.5);
    }
    
    .FlexTable{
        background-color: #F1F1F1;
    }
    
    .FlexTable .v-scrollable{
         overflow-y:scroll;
    }
    
    .FlexTableRow{
        background-color: white;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        padding: 0px;
    }
    
    .FlexTable_main{
        background-color: transparent;
    }
    
    .FlexTableRowItem {
        cursor: pointer;
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .FlexTableRowItem:hover{
        background-color: #F1F1F1;
    }
    
    .FlexTableRowItem_name{
        color: black;
        font-size: 12px;
        font-weight: normal;
        font-family: Microsoft YaHei;
    }
    
    .TitleRow{
        background-color: transparent;
        padding: 0px;
    }
    
    .TitleRow_name{
        color: black;
        font-size: 12px;
        font-weight: bold;
        font-family: Microsoft YaHei;
    }
    
    .RowItemWithIcon_separater{
        width: 1px;
        height: 49px;
        border: #F0F0F0 solid 1px;
        border-right-color: #F0F0F0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color:transparent;
    }
    
    .RowItemWithOptions_selector {
        webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        color: #666666;
        border-radius: 0px;
        border-color: transparent;
        border-bottom-color : #666666;
        padding: 0px;
    }
    .NavigationBar_settings{
        color:gray;
        font-size: 16px;
        font-weight: bold;
        font-family: Microsoft YaHei;
        margin-left: 20px;
    }
    
    .NavigationBar_menuItem{
        cursor:pointer;
        width: 100%;
        height: 20px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .NavigationBar_menuItem .v-label{
        color:gray;
        font-size: 13px;
        font-weight:normal;
        font-family: Microsoft YaHei;
        margin-left: 15px;
    }
 
    .Hr{
        width: 100%;
        height: 0px;
    }
    //去除hr下面空行
    .v-verticallayout .v-slot-Hr{
        height: 0px;
    }
    
    .ViewportView {
        background-color: #F1F1F1;
       
    }
    .ViewportView .v-scrollable{
        overflow-y:scroll;
    }
    
    .ViewportView_main{
        background-color: transparent;
    }
    .ContentView{
        background-color: white;
        @include box-shadow(0 2px 7px 1px rgba(0,0,0,.5));
        @include animation(valo-animate-in-slide-up 200ms 100ms backwards);
    }
    .ContentView_toolbar{
        cursor:pointer;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;
    }
    .ContentView_parentTitleLabel{
        font-size: 13px;
        font-weight: bold !important;
        color: #666666 !important;
    }
    .ContentView_backImage{
       margin-top: 2px;
    }
    
    .ProfileView_main{
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 14px;
    }
    .ProfileView_btnPass{
        font-size: 13px;
        font-weight: normal !important;
        color: #666666 !important;
    }
    .CustomGrid_scrollPanel{
        border-color: transparent;
        border-width: 0px;
        border-style: none;
        border: none;
        box-shadow: none;
        margin-top: 50px;
        padding-left: 40px;
        padding-right: 27px;
    }
    .CustomGrid_titleBar{
        font-size: 16px;
        font-weight: bold !important;
        color: #666666 !important;
        padding-top: 32px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .CustomGrid_columnBar{
        border: #F0F0F0 solid 1px;
        border-right-color: #F0F0F0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .CustomGrid_colLabel{
        font-size: 13px;
        font-weight: bold !important;
        color: #666666 !important;
    }
    .CustomGrid_objLabel{
        font-size: 13px;
        font-weight: normal !important;
        color: #666666 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:pre-wrap;//文本不换行，这样超出一行的部分被截取，显示...
    }
    .CustomGridRow{
        border: #F0F0F0 solid 1px;
        border-right-color: #F0F0F0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .CustomGrid_row{
        background-color: aliceblue;
    }
    .PeopleView_menuImage{
        cursor:pointer;
    }
    .CustomGrid_searchBar {
       padding: 0px;
    }
    .CustomGrid_searchBar .v-textfield{
        webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        color: #666666;
        border-radius: 0px;
        border-color: transparent;
        border-bottom-color : #666666;
        padding: 0px;
        margin-top: -3px;
        width: 163px;
        height: 23px;
    }
    .CustomGrid_searchBar .v-textfield:focus{
        border-color: transparent;
        border-bottom-color : #666666;
        webkit-box-shadow: none;
        box-shadow: none;
    }
    
    
    .NotificationsManagementWindow{
        border: #F0F0F0 solid 1px;
        border-radius: 2px;
    }
    
    .NotificationsManagementWindow .v-button{
        width: 90px;
        height: 28px;
        font-size: 13px;
        font-weight: normal!important;
        color: #666666 !important;
        padding: 0px;
        padding-left: 5px;
    }
    .NotificationsManagementWindow_navigationBar{
        padding: 5px;
        padding-left: 0px;
    }
    .NotificationsManagementWindow_buttons{
        background-color: white;
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;
        color: #666666;
    }
    .NotificationsManagementWindow_buttons_selected{
        color: white;
        background-color:  rgb(63,81,181);//谷歌蓝色
        border-radius: 2px;
        cursor: pointer;
    }
    .NotificationsManagementWindow_buttons:hover{
        background-color: #EAECEF;
        border-radius: 2px;
        cursor: pointer;
    }
    .NotificationsManagementWindow_txt{
        padding-left: 5px;
        font-size: 13px;
        font-weight: normal!important;
    }
    .NotificationsManagementWindow_unread{
        padding-right: 5px;
        font-size: 13px;
        font-weight: normal!important;
    }
    
    .NotificationTable{
        padding: 5px;
        padding-top: 0px;
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
    }
    .NotificationTable_contentLabel{
        font-size: 13px;
        font-weight: normal!important;
        color: #666666 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;//文本不换行，这样超出一行的部分被截取，显示...
    }
    .NotificationTable_header{
        background-color: #F6F8FA;
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .NotificationTable_row{
        border: #F0F0F0 solid 1px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .NotificationTable_row:hover {
        background-color: #F5F9FC;
    }
    .NotificationTable_checkedImg{
        cursor: pointer;
    }
    .NotificationTable_scroll{
        border: 0px;
        border-radius: 0px;
        border-color: transparent;
        
    }
    .NotificationTable_left{
        cursor: pointer;
        padding-top: 8px;
    }
    
    .ShelfComponent{
        cursor: pointer;
        padding: 5px;
    }
    .ShelfComponent:hover {
        border-radius: 5px;
        border-style: solid;
        border-color:#666666;
        border-width: 2px;
        padding: 1px;
        box-shadow:0 0 8px rgba(0,191,255,0.8);
        cursor:pointer;
    }
    .ShelfComponent-selected {
        border-radius: 5px;
        border-style: solid;
        border-color:deepskyblue;
        border-width: 2px;
        padding: 1px;
        box-shadow:0 0 8px rgba(63,81,181,0.8);//谷歌蓝色
        cursor:pointer;
    }
    
    .ShelfGridComponent{
        cursor: pointer;
        background-color: transparent;
        border-radius: 0px;
        border-color: #A4A4A2;
        border: 1px dashed #A4A4A2;
        border-spacing: 2px;
        padding: 3px;
        margin: 3px;
    }
    
    .v-window-AboutTB4 {
      background-color: rgba(63,81,181,0.8) !important;
    }
    div.v-window-AboutTB4 .v-window-contents {
      background: rgba(63,81,181,0.8);
    }
    
    .AboutTB4 .v-label{
        font-size: 28px;
        color:white;
        font-weight: bold;
        font-family: Microsoft YaHei;
        text-shadow: #87D0F0 1px 0 28px;
    }
    .AboutTB4 .v-icon {
        cursor: pointer;
        margin-left: 10px;
        //margin-top: 10px;
        margin-right: 10px;
    }
    .AboutTB4-middleLine .v-label{
        font-size: 14px;
        color:white;
        font-weight:normal;
        font-family: Microsoft YaHei;
    }
    
    .LoggingTableHeader {
        background-color:#F1F1F1;
    }
    .LoggingTableRow {
    }
    .LoggingTableRow_dark {
        background-color:#F0F8FF;
    }
    .LoggingTableRow:hover {
        background-color:lightgray;
    } 
    .LoggingTableRow_menu {
        cursor: pointer;
    }
}