@mixin dashboard-dashboard-view {
  .image-background{
       background: url(../img/blue.jpg) no-repeat fixed;//背景图片
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  opacity: 1;
   }
	  
  .dashboard-view.dashboard-view {
    padding: 20px;//$view-padding;
    overflow: visible;
    .sparks {
      @include valo-panel-style;
      margin-bottom: round($view-padding / 3);

      @include width-range($max: 680px) {
        .spark {
          width: 50%;
        }
        .spark:nth-child(2n+1) {
          border-left: none;
        }
        .spark:nth-child(n+3) {
          border-top: valo-border($strength: 0.3);
        }
      }

      @include width-range($max: 270px) {
        .spark {
          width: 100%;
          border-left: none;
          border-top: valo-border($strength: 0.3);

          &:first-child {
            border-top: none;
          }
        }
      }
    }

    .spark {
      float: left;
      text-align: center;
      width: 25%;
      padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
      border-left: valo-border($strength: 0.3);
      line-height: 1.35;

      > tbody {
        display: inline-block;
      }

      &:first-child {
        border-left: none;
      }
    }

    .dashboard-panel-toolbar {
      padding: 1px 0 1px round($v-unit-size / 1.8);
      height: $v-unit-size + 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .dashboard-panels {
      display: block;
//      height: 100%;
      margin: 0 round($view-padding / -3);

      .card {
        height: 100%;
        overflow: hidden;
        padding: $v-unit-size + 2px round($view-padding / 2) 0;
        position: relative;

        .v-table, .v-table-table {
          background: transparent;
        }
      }

      .top10-revenue {
        .card {
          padding-left: 0;
          padding-right: 0;
        }

        .v-table-table {
          @include box-shadow(none);
        }

        .v-table-cell-wrapper {
          padding-left: round($view-padding / 2);
          padding-right: round($view-padding / 2);
        }

        .v-table-cell-content {
          border-color: first-color(valo-border($strength: 0.3));
        }

        .v-table-cell-content-rowheader {
          color: valo-font-color($v-app-background-color, 0.4);

          .v-table-cell-wrapper {
            padding-right: 0;
          }
        }
      }

      .dashboard-panel-slot {
        padding: round($view-padding / 3);
//        min-height: 220px;
//        width: 100% !important;
//          height: 100% !important;
//          min-height: 100% !important;
          min-height: 395px;
          min-width: 100% !important;
      }

  	  &[width-range~="0-700px"] {
  	    .dashboard-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

  	  &[width-range~="701px-"] {
  	    .dashboard-panel-slot {
  	      width: 50% !important;
  	    }
  	  }

      &[height-range~="0-440px"] {
  	    .dashboard-panel-slot {
  	      height: 100%;
  	    }
  	  }

  	  &[height-range~="441px-"] {
  	    .dashboard-panel-slot {
  	      height: 50%;
  	    }
  	  }

      .dashboard-panel-slot.max {
        width: 100% !important;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }

      .notes {
        .card {
          padding: $v-unit-size + 2px 0 0;
        }

        .v-textarea {
          border-top: valo-border($strength: 0.5);
          padding: 20px 20px 0;
          line-height: 20px;
          font-size: 13px;
          background: #fffdf2 url(../img/notes-bg.png) repeat;
          background-attachment: local;
          color: #545145;
          overflow: auto;
        }
      }
    }

  }

  .dashboard-view {
    @include width-range($max: 480px) {
      padding-left: round($view-padding / 2);
      padding-right: round($view-padding / 2);
    }
  }

  .notifications.v-window {
    overflow: visible !important;
    // top: 3 * $v-unit-size !important;
    right: $view-padding;
    left: auto !important;
    max-width: 90%;

    $window-outline: $v-overlay-shadow;
    @if list-of-lists($window-outline) {
      $window-outline: last($v-overlay-shadow);
    }
    $window-outline: flatten-list(valo-bevel-and-shadow($bevel: null, $shadow: $window-outline));
    $outline-width: nth($window-outline, length($window-outline) - 1);
    $outline-color: last($window-outline);

    @include transform-origin(296px - (2 * $v-unit-size - round($v-unit-size / 3)) -7px);

    &.v-window-animate-in {
      @include animation(animate-in-scale-up 260ms cubic-bezier(.68,.37,.51,1.37));
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -14px;
      right: 0.5 * $v-unit-size - round($v-unit-size / 3); //改第一个参数，right右边第一个，注意参数4决定提示窗体起初位置
      border: 7px solid transparent;
      width: 0;
      height: 0;
      border-bottom-color: $v-window-background-color;
    }


    &:before {
      @if type-of($outline-width) == number and $outline-width > 0 {
        top: -15px - 2 * $outline-width;
        margin-right: -$outline-width;
        border-width: 7px + $outline-width;
        border-bottom-width: 8px;
        border-bottom-color: $outline-color;
      } @else {
        content: none;
      }
    }

    .v-window-header {
      color: $v-selection-color;
    }

    .v-window-outerheader:after,
    .v-scrollable:before {
      display: none;
    }

    .notification-item {
      font-size: round($v-font-size * 0.9);
    }

    .notification-title {
      font-weight: $v-font-weight + 200;
    }

    .notification-time {
      font-size: round($v-font-size * 0.8);
      color: valo-font-color($v-window-background-color, .5);
    }

     .notification-content {
      font-size: round($v-font-size * 0.8);
      color: valo-font-color($v-window-background-color, .5);
    }
  }

  // Need to use normal media queries because Responsive doesn't work for overlay elements just yet
  @media screen and (max-width: 480px) {
    .notifications.v-window {
      right: round($view-padding / 2);
    }
  }

    
    // 扫描录入界面
    .ThumbnailRow-border {
        border-radius: 5px;
        border-style: dashed;
        border-color: #A4A4A2;
        border-width: 2px;
        padding: 5px;
    }
    
    .ThumbnailRow-border-selected {
        border-radius: 5px;
        border-style: solid;
        border-color:deepskyblue;
        border-width: 2px;
        padding: 5px;
        box-shadow:0 0 8px rgba(0,191,255,0.8);
    }
    .Thumbnail {
        padding: 5px;
    }
 
    .Thumbnail:hover {
        border-radius: 5px;
        border-style: solid;
        border-color:deepskyblue;
        border-width: 2px;
        padding: 1px;
        box-shadow:0 0 8px rgba(0,191,255,0.8);
        cursor:pointer;
    }
    .Thumbnail-name{
        font-size: 12px;
        font-weight:normal;
        font-family: Microsoft YaHei;
    }

    // 拖拽上传
    .drop-area{
        cursor: pointer;
        background-color: transparent;
        border-radius: 25px;
        border-color: #A4A4A2;
        border: 5px dashed #A4A4A2;
        margin-left: 5px;
    }
 
    .picture-pane {
    }
    
    .picture-pane .v-horizontallayout {
        padding-top: 5px;
    }
    
    .picture-pane .v-panel-caption{
        line-height: 22px;
        font-weight: bold;
        font-size: 13px;
        color: #666666;
        font-family: Microsoft YaHei;
    }
    .picture-pane .v-spacing {
        width: 1px;
    }
    
    /// 质量检查
    .v-slot.v-slot-sparks {
        height: 0px;
    }
    .switchbutton {
        cursor:pointer;
    }
    .dashboard-view .v-formlayout-captioncell {
        line-height: 27px;
    }
    .dashboard-view .v-label {
        font-family: Microsoft YaHei;
    }
    
    .v-window {
        min-width: 90px !important;
    } 
    
    
    /// 前台界面
    .dynamicallyVLayout {
        padding-left: 0px;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
     
    /// 质检界面
    .dynamicallyVLayout-check {
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    //审档界面
    .Manual {
        margin-top: 6px;
    }
    
    .upload-button {
        font-family: Microsoft YaHei;
        font-size: 13px;
        color: gray;
    }
    .reminder-scrollpane {
        border-color: transparent;
        border: 0px;
    }
    .imagestage-header {
        background-color:gainsboro;
        border-bottom: 1px;
    }
    .Manual-toolbar {
        background-color:gainsboro;
    }
    
    .Tool-background{
        background-color:gainsboro;
     
    }
    .Tool-main{
        margin-top: 8px;
    }
    
    .v-slider{
        margin-top: -5px;
    }
    .ImageWindow-selected {
        border-radius: 5px;
        border-style: solid;
        border-color:deepskyblue;
        border-width: 1px;
        padding: 0px;
        box-shadow:0 0 18px rgba(0,191,255,0.8);
    }
     
    
    
    // 业务审核
    
     // CSS
    .v-window-foo .v-window-outerheader {
     background: white;
     }

    .v-window-foo .v-window-header {
     color: black;
     }
    
     // 搜索UI
    .ViewFilesWindow-TextField {
        webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        font-family: Microsoft YaHei;
        color: #666666;
        border-radius: 0px;
        border-color: transparent;
        border-bottom-color : #666666;
        padding: 0px;
        background-color: transparent;
    }
    .ViewFilesWindow-west {
        border-color: transparent;
        border-right-color : #666666;
        background-color:lightgray;
    }
    
    .PrintingFiletagsWindow_bf {
        text-align: center;
    }
    .SplitPane {
        padding-top: 5px;
    }
    .SplitPane-toolbar {
        background-color:rgb(220,220,220);
        width: 100%;
        height: 25px;
    }
    .SplitPane-splitPane {
        padding-top: 5px;
    }
}
